<%= form_for(@host_state) do |f| %>
  <% if @host_state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@host_state.errors.count, "error") %> prohibited this host_state from being saved:</h2>

      <ul>
      <% @host_state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
