<%= form_for(@aws_vpc_tag) do |f| %>
  <% if @aws_vpc_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aws_vpc_tag.errors.count, "error") %> prohibited this aws_vpc_tag from being saved:</h2>

      <ul>
      <% @aws_vpc_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :aws_vpc_id %><br>
    <%= f.text_field :aws_vpc_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
