<h1>Listing instances</h1>

<table class="table table-bordered datatable">
  <thead>
    <tr>
      <th>Host</th>
      <th>Instance</th>
      <th>Owner</th>
      <th>State code</th>
      <th>State</th>
      <th>Key name</th>
      <th>Monitoring</th>
      <th>Instance type</th>
    </tr>
  </thead>

  <tbody>
    <% @instances.each do |instance| %>
      <tr>
        <td><%= instance.host_id %></td>
        <td><%= instance.instance_id %></td>
        <td><%= instance.owner_id %></td>
        <td><%= instance.state_code %></td>
        <td><%= instance.state %></td>
        <td><%= instance.key_name %></td>
        <td><%= instance.monitoring %></td>
        <td><%= instance.instance_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>
