<%= form_for(@aws_route_table) do |f| %>
  <% if @aws_route_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aws_route_table.errors.count, "error") %> prohibited this aws_route_table from being saved:</h2>

      <ul>
      <% @aws_route_table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :aws_account_id %><br>
    <%= f.number_field :aws_account_id %>
  </div>
  <div class="field">
    <%= f.label :aws_region_id %><br>
    <%= f.number_field :aws_region_id %>
  </div>
  <div class="field">
    <%= f.label :route_table_id %><br>
    <%= f.text_field :route_table_id %>
  </div>
  <div class="field">
    <%= f.label :vpc_id %><br>
    <%= f.text_field :vpc_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
