<%= form_for(@aws_security_group_tag) do |f| %>
  <% if @aws_security_group_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aws_security_group_tag.errors.count, "error") %> prohibited this aws_security_group_tag from being saved:</h2>

      <ul>
      <% @aws_security_group_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :security_group_id %><br>
    <%= f.text_field :security_group_id %>
  </div>
  <div class="field">
    <%= f.label :key %><br>
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
