<h1>Listing ebs_volumes</h1>

<table>
  <thead>
    <tr>
      <th>Aws account</th>
      <th>Aws region</th>
      <th>Volume</th>
      <th>Size</th>
      <th>Snapshot</th>
      <th>Availability zone</th>
      <th>State</th>
      <th>Create time</th>
      <th>Volume type</th>
      <th>Iops</th>
      <th>Encrypted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ebs_volumes.each do |ebs_volume| %>
      <tr>
        <td><%= ebs_volume.aws_account_id %></td>
        <td><%= ebs_volume.aws_region_id %></td>
        <td><%= ebs_volume.volume_id %></td>
        <td><%= ebs_volume.size %></td>
        <td><%= ebs_volume.snapshot_id %></td>
        <td><%= ebs_volume.availability_zone %></td>
        <td><%= ebs_volume.state %></td>
        <td><%= ebs_volume.create_time %></td>
        <td><%= ebs_volume.volume_type %></td>
        <td><%= ebs_volume.iops %></td>
        <td><%= ebs_volume.encrypted %></td>
        <td><%= link_to 'Show', ebs_volume %></td>
        <td><%= link_to 'Edit', edit_ebs_volume_path(ebs_volume) %></td>
        <td><%= link_to 'Destroy', ebs_volume, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ebs volume', new_ebs_volume_path %>
