<%= form_for(@instance_block_device_mapping) do |f| %>
  <% if @instance_block_device_mapping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instance_block_device_mapping.errors.count, "error") %> prohibited this instance_block_device_mapping from being saved:</h2>

      <ul>
      <% @instance_block_device_mapping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :instance_id %><br>
    <%= f.text_field :instance_id %>
  </div>
  <div class="field">
    <%= f.label :device_name %><br>
    <%= f.text_field :device_name %>
  </div>
  <div class="field">
    <%= f.label :volume_id %><br>
    <%= f.text_field :volume_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
