<h1>Listing aws_regions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aws_regions.each do |aws_region| %>
      <tr>
        <td><%= aws_region.name %></td>
        <td><%= link_to 'Show', aws_region %></td>
        <td><%= link_to 'Edit', edit_aws_region_path(aws_region) %></td>
        <td><%= link_to 'Destroy', aws_region, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aws region', new_aws_region_path %>
