<p id="notice"><%= notice %></p>

<p>
  <strong>Instance:</strong>
  <%= @instance_security_group_mapping.instance_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @instance_security_group_mapping.group_id %>
</p>

<%= link_to 'Edit', edit_instance_security_group_mapping_path(@instance_security_group_mapping) %> |
<%= link_to 'Back', instance_security_group_mappings_path %>
