<h1>Listing checkpoint_fequencies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hours apart</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checkpoint_fequencies.each do |checkpoint_fequency| %>
      <tr>
        <td><%= checkpoint_fequency.name %></td>
        <td><%= checkpoint_fequency.hours_apart %></td>
        <td><%= link_to 'Show', checkpoint_fequency %></td>
        <td><%= link_to 'Edit', edit_checkpoint_fequency_path(checkpoint_fequency) %></td>
        <td><%= link_to 'Destroy', checkpoint_fequency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Checkpoint fequency', new_checkpoint_fequency_path %>
