<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @checkpoint_fequency.name %>
</p>

<p>
  <strong>Hours apart:</strong>
  <%= @checkpoint_fequency.hours_apart %>
</p>

<%= link_to 'Edit', edit_checkpoint_fequency_path(@checkpoint_fequency) %> |
<%= link_to 'Back', checkpoint_fequencies_path %>
