<p id="notice"><%= notice %></p>

<p>
  <strong>Vpc:</strong>
  <%= @aws_vpc.vpc_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @aws_vpc.state %>
</p>

<p>
  <strong>Cidr block:</strong>
  <%= @aws_vpc.cidr_block %>
</p>

<p>
  <strong>Dhcp options:</strong>
  <%= @aws_vpc.dhcp_options_id %>
</p>

<p>
  <strong>Instance default:</strong>
  <%= @aws_vpc.instance_default %>
</p>

<p>
  <strong>Is default:</strong>
  <%= @aws_vpc.is_default %>
</p>

<%= link_to 'Edit', edit_aws_vpc_path(@aws_vpc) %> |
<%= link_to 'Back', aws_vpcs_path %>
