<h1>Listing aws_network_acl_tags</h1>

<table>
  <thead>
    <tr>
      <th>Network acl</th>
      <th>Key</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aws_network_acl_tags.each do |aws_network_acl_tag| %>
      <tr>
        <td><%= aws_network_acl_tag.network_acl_id %></td>
        <td><%= aws_network_acl_tag.key %></td>
        <td><%= aws_network_acl_tag.value %></td>
        <td><%= link_to 'Show', aws_network_acl_tag %></td>
        <td><%= link_to 'Edit', edit_aws_network_acl_tag_path(aws_network_acl_tag) %></td>
        <td><%= link_to 'Destroy', aws_network_acl_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aws network acl tag', new_aws_network_acl_tag_path %>
