<p id="notice"><%= notice %></p>

<p>
  <strong>Aws account:</strong>
  <%= @aws_network_acl.aws_account_id %>
</p>

<p>
  <strong>Aws region:</strong>
  <%= @aws_network_acl.aws_region_id %>
</p>

<p>
  <strong>Network acl:</strong>
  <%= @aws_network_acl.network_acl_id %>
</p>

<p>
  <strong>Association:</strong>
  <%= @aws_network_acl.association_id %>
</p>

<p>
  <strong>Association acl:</strong>
  <%= @aws_network_acl.association_acl_id %>
</p>

<p>
  <strong>Association subnet:</strong>
  <%= @aws_network_acl.association_subnet_id %>
</p>

<%= link_to 'Edit', edit_aws_network_acl_path(@aws_network_acl) %> |
<%= link_to 'Back', aws_network_acls_path %>
