<%= form_for(@aws_route_table_tag) do |f| %>
  <% if @aws_route_table_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aws_route_table_tag.errors.count, "error") %> prohibited this aws_route_table_tag from being saved:</h2>

      <ul>
      <% @aws_route_table_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :route_table_id %><br>
    <%= f.text_field :route_table_id %>
  </div>
  <div class="field">
    <%= f.label :key %><br>
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
